
    <section class="home__section">
        <div class="slideshow-container">
            <div class="mySlides fade" id="slider">
            {{#each banners}}
                        <img src="{{this.bannerImageUrl}}" alt="{{this.bannerImageAlt}}" class="sale" style="width:100%">
                    {{/each}}
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            <div style="text-align:center">
                 {{#each banners}}
                  <span class="dot" onclick="currentDiv({{math @index "+" 1}})"></span>
                 {{/each}}
            </div>
        </div>
    </section>
    <div id="category__id" >
     {{#each categories}}
        <section class="home__section">
            <div class="row">
                <div class="product__box">
                    <figure>
                        <img src="{{this.imageUrl}}" alt="fruits & vegetables" class="product__items">
                    </figure>
                </div>
                <div class="product__content">
                    <h2>{{this.name}}</h2>
                    <p>{{this.description}}</p>
                    <button><span>Explore {{this.key}}</span></button>
                </div>
            </div>
        </section>
        
    {{/each}}
    </div>




<script>
    var slideIndex = 1;
    showDivs(slideIndex);
    function plusSlides(n) {
        showDivs(slideIndex += n);
    }
    function currentDiv(n) {
        showDivs(slideIndex = n);
    }
    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("sale");
        var dots = document.getElementsByClassName("dot");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
        }
        for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" slide-white", "");
        }
        x[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " slide-white";
    }

</script>
