
    <section class="home" tabindex="0">
        <div class="home__slider">
            <div class="home__slider__main--fade" id="slider">
            {{#each banners}}
                        <img src="{{this.bannerImageUrl}}" alt="{{this.bannerImageAlt}}" class="home__slider__main__img" style="width:100%">
                    {{/each}}
            </div>
            <a class="home__slider__prev" role="button" title="previous" onclick="plusSlides(-1)">&#10094;</a>
            <a class="home__slider__next" role="button" title="next" onclick="plusSlides(1)">&#10095;</a>
            <div class="home__slider__banners">
                 {{#each banners}}
                  <span class="home__slider__dot" onclick="currentDiv({{math @index "+" 1}})"></span>
                 {{/each}}
            </div>
        </div>
    </section>
     {{#each categories}}
        <section class="home">
            <div class="home__row">
                <div class="home__row__product__box">
                        <img src="{{this.imageUrl}}" alt="{{this.name}}" class="home__row__product__item" tabindex="0">
                </div>
                <div class="home__row__product__content" >
                    <h2 tabindex="0">{{this.name}}</h2>
                    <p tabindex="0">{{this.description}}</p>
                    <button>Explore {{this.key}}</button>
                </div>
            </div>
        </section>
        
    {{/each}}




<script>
    var slideIndex = 1;
    showDivs(slideIndex);
    function plusSlides(n) {
        showDivs(slideIndex += n);
    }
    function currentDiv(n) {
        showDivs(slideIndex = n);
    }
    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("home__slider__main__img");
        var dots = document.getElementsByClassName("home__slider__dot");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
        }
        for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" slide-white", "");
        }
        x[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " slide-white";
    }

</script>
