
    <section class="home__section">
        <div class="slideshow-container">
            <div class="mySlides fade" id="slider">
            {{#each banners}}
                        <img src="{{this.bannerImageUrl}}" alt="{{this.bannerImageAlt}}" class="sale" style="width:100%">
                    {{/each}}
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            <div style="text-align:center">
                 {{#each banners}}
                  <span class="dot" onclick="currentDiv({{math @index "+" 1}})"></span>
                 {{/each}}
            </div>
        </div>
    </section>
    <div id="category__id" >
     {{#each categories}}
        <section class="home__section">
            <div class="row">
                <div class="product__box">
                    <figure>
                        <img src="{{this.imageUrl}}" alt="fruits & vegetables" class="product__items">
                    </figure>
                </div>
                <div class="product__content">
                    <h2>{{this.name}}</h2>
                    <p>{{this.description}}</p>
                    <button><span>Explore {{this.key}}</span></button>
                </div>
            </div>
        </section>
        
    {{/each}}
    </div>

    
<!-- cart Modal -->

<div id="myModal" class="modal" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="close">&times;</button>
                <h2>My Cart</h2>
            </div>
            <div class="modal-body">
                <!-- <h3>No item in your Cart</h3>
                <p>Your favourite item are just a click away</p> -->
                <div class="cart__content__model">
                            <img src="static/images/products/fruit-n-veg/apple.jpg" alt="fruits" class="items">
                        <div class="cart__content__items">
                            <h3>Apple - Washington, Reguler, 4pcs</h3>
                            <div class="item__count">
                                <button type="button" class="plus__count"><i class="fa fa-plus"></i></button>
                                <input type="text" class="cart__counter" value="1">
                                <button type="button" class="minus__count"><i class="fa fa-minus"></i></button>
                                <i class="fa fa-close"></i>
                                <span>Rs 187</span>
                            </div>
                        </div>
                        <div class="total__price">Rs 187</div>
                    </div>
                    <div class="cart__content__model">
                            <img src="static/images/products/fruit-n-veg/apple.jpg" alt="fruits" class="items">
                        <div class="cart__content__items">
                            <h3>Apple - Washington, Reguler, 4pcs</h3>
                            <div class="item__count">
                                <button type="button" class="plus__count"><i class="fa fa-plus"></i></button>
                                <input type="text" class="cart__counter" value="1">
                                <button type="button" class="minus__count"><i class="fa fa-minus"></i></button>
                                <i class="fa fa-close"></i>
                                <span>Rs 187</span>
                            </div>
                        </div>
                        <div class="total__price">Rs 187</div>
                    </div>
            </div>
            <div class="modal-footer">
                <a href="cart.html"><h3>Start Shopping</h3>
            </div>
        </div>
    </div>



<script>
    var slideIndex = 1;
    showDivs(slideIndex);
    function plusSlides(n) {
        showDivs(slideIndex += n);
    }
    function currentDiv(n) {
        showDivs(slideIndex = n);
    }
    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("sale");
        var dots = document.getElementsByClassName("dot");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
        }
        for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" slide-white", "");
        }
        x[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " slide-white";
    }

        // modal
        var modal = document.getElementById('myModal');
        // Get the button that opens the modal
        var btn = document.getElementById("cart-modal");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onmouseover = function () {
            modal.style.display = "block";
        }
       
        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onmouseover = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
</script>
