<section>
    <div class="login">
        <div class="login__content">
            <h2  tabindex="0">{{loginData.Heading}}</h2>
            <p  tabindex="0">{{loginData.SubHeading}}</p>
        </div>
        <div class="login__form">
            <form>
                {{#each loginData.inputs}}
                <div class="login__form__input">
                    <input type="{{type}}" name="{{label}}" required>
                    <label>{{label}}</label>
                </div>
                {{/each}}
                <div class="login__form__input">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</section>